<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Find Healthy Recipes</h1>
      <nav class="nav">
            <a class="nav-link scrapeBtn" href="/scrape">Scrape Healthy Recipes</a>
            <a class="nav-link savedBtn" href="/saved">Saved Recipes</a>
            <a class="nav-link homeBtn" href="/">Home</a>
        </nav>
  </div>
</div>

