<nav class="nav">
  <a class="nav-link" href="#">Scrape Healthy Recipes</a>
  <a class="nav-link" href="#">Saved Recipes</a>
  <a class="nav-link" href="#">Home</a>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Find Healthy Recipes</h1>
  </div>
</div>


<div class="container">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://resiliencefitness.com/wp-content/uploads/2013/09/salad.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Recipe title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button type="button" class="btn btn-info">Save Recipe</button>
        </div>
    </div>
</div>