.homeContainer {
    background-color:blue;
}

.jumbotron {
    background: lightgreen ;
    color: blue;
    text-align: center;
}

.nav {
    justify-content: center;
}

.food-img {
    max-height: 100px;
    max-width: 100px;
}

.card {
    float: left;
    margin: 30px;
    max-height: 430px;
    min-height: 430px;
    max-width: 280px;
    min-width: 280px;
}