.homeContainer {
    background-color:blue;
}

.jumbotron {
    background: lightgreen ;
    color: blue;
    text-align: center;
}

.nav {
    justify-content: center;
}

.food-img {
    max-height: 100px;
    max-width: 100px;
}

.card {
    float: left;
    margin: 36px;
    max-height: 430px;
    min-height: 430px;
    max-width: 280px;
    min-width: 280px;
    border: 3px solid #00a5bb;
}

.alreadySaved {
    border: 1px solid #00a5bb;
}