#home { 
    background-image: url("avo.jpg");
    height: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    /* background: lightgreen ; */
    background-image: url("avo.jpg");
    height: 100%; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}

.jumboHome {
    background: transparent;
}

.nav-link {
    color: grey;
    background-color: white;
    opacity: .5;
    margin: 8px;
}

.nav {
    justify-content: center;
}

.food-img {
    max-height: 100px;
    max-width: 100px;
}

.card {
    float: left;
    margin: 36px;
    max-height: 430px;
    min-height: 430px;
    max-width: 280px;
    min-width: 280px;
    border: 5px solid #9ec3cb;
}

.alreadySaved {
    border: 1px solid #00a5bb;
}